.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: #ff6f61;
}

.navbar {
    background-color: #333;
}

.nav-link, .navbar-toggler-icon {
    color: #fff !important;
    
}

.dropdown-menu {
    background-color: #444;
    color: #fff;
}

.dropdown-item:hover {
    background-color: #ff6f61;
    color: #fff;
}

.form-control {
    border-radius: 20px;
}

.btn-search {
    border-radius: 20px;
    background-color: #ff6f61;
    color: #fff;
}

.btn-login {
    background-color: #ff6f61;
    border-radius: 20px;
    color: #fff;
}

.cart-icon {
    font-size: 1.2rem;
    color: #fff;
}
